
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.js.map

packages/*
!packages/repositories.config
.vs/
RG2.React/node_modules/*
RG2.React/dist/*
RG2.React/Translations/*
RG2.React/CodeGen/*
/RG2.React/wwwroot/dist/*
/RG2.React/web.config
/RG2.React/ts_out/*
/RG2.React/TensorFlowModels/**
RG2.Web/Translations
RG2.Web/Scripts/**/*.js